html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.1rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/********** nav **********/

.nav_bar {
    /* position: relative; */
    width: 67.1875rem;
    height: 10.7625rem;
    margin: 0 auto;
    display: flex;
    border-bottom: solid 0.0625rem #B2B2B2;
}

.logo_btn {
    /* position: absolute; */
    width: 5rem;
    height: 3.5165rem;
    margin-top: 5.99rem;
    margin-left: 3.87rem;
}

.logo_btn img {
    width: 5rem;
    height: 3.5165rem;
}

.nav_menu {
    /* position: absolute; */
    flex: 2;
    margin-top: 6.5rem;
    margin-left: 1.69rem;
}

.nav_menu ul {
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.nav_menu ul li {
    font-size: 1.875rem;
    font-weight: 700;
}

.chatting_a {
    color: #3A7DFF;
}

.nav_chat {
    margin-top: 6.94rem;
    margin-left: 5.62rem;
    margin-right: 1.94rem;
}

.chat_btn {
    width: 9.4375rem;
    height: 2.8125rem;
    border: 2px solid #727272;
    border-radius: 1.25rem;
    background-color: #727272;
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFF;
}

.chat_btn:hover {
    cursor: pointer;
}

.nav_logout {
    display: flex;
    margin-top: 7.63rem;
    margin-right: 1.37rem;
}

.nav_logout a {
    margin: 0;
    margin-top: 0.25rem;
    height: 1.375rem;
    font-size: 0.9375rem;
    font-weight: 500;
    white-space: nowrap;
    color: #000;
}

.nav_logout img {
    width: 1.5rem;
    height: 1.5rem;
}

.nav_logout img:hover {
    cursor: pointer;
}

.nav_mypage {
    display: flex;
    margin-top: 7.63rem;
    margin-right: 0.94rem;
}

.nav_mypage img {
    width: 1.5rem;
    height: 1.5rem;
}

.nav_mypage img:hover {
    cursor: pointer;
}

.nav_mypage a {
    margin: 0;
    margin-top: 0.25rem;
    height: 1.375rem;
    font-size: 0.9375rem;
    font-weight: 500;
    white-space: nowrap;
    color: #000;
}


/********** container **********/

.container {
    background-color: #B2B2B2;
    margin: 0 auto;
    width: 67.1875rem;
}


/*** wrap_bar ***/

.wrap_bar {
    background-color: antiquewhite;
    height: 3.00399rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.switches-container {
    width: 18.65781rem;
    position: relative;
    display: flex;
    padding: 0;
    position: relative;
    background: white;
    line-height: 3rem;
    border: 1px solid #000;
    border-radius: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.switches-container input {
    visibility: hidden;
    position: absolute;
    top: 0;
}

.switches-container label {
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    color: black;
    font-weight: 700;
}

.switch-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    /* padding: 0.15rem; */
    z-index: 3;
    transition: transform .5s cubic-bezier(.77, 0, .175, 1);
    /* transition: transform 1s; */
}

.switch {
    border-radius: 3rem;
    background: #3A7DFF;
    height: 100%;
}

.switch div {
    width: 100%;
    text-align: center;
    opacity: 0;
    display: block;
    color: white;
    font-weight: 700;
    transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
    will-change: opacity;
    position: absolute;
    top: 0;
    left: 0;
}

.switches-container input:nth-of-type(1):checked~.switch-wrapper {
    transform: translateX(0%);
}

.switches-container input:nth-of-type(2):checked~.switch-wrapper {
    transform: translateX(100%);
}

.switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
    opacity: 1;
}

.switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
    opacity: 1;
}


/*** wrap_content ***/

.wrap_content {
    background-color: gold;
    height: 34.2555rem;
}

.back {
    background-color: #C2D3F5;
    border-radius: 1.875rem;
    width: 59.375rem;
    height: 34.2555rem;
    margin: 0 auto;
    display: flex;
}


/* 채팅 목록 */

.list {
    background-color: #FFF;
    border-radius: 1.875rem;
    width: 16.10956rem;
    height: 31.67675rem;
    margin-top: 1.29rem;
    margin-left: 1.55rem;
}

.wrap_name {
    border-bottom: solid 0.0625rem #DDD;
    height: 4.67rem;
}

.nick {
    display: inline-block;
    margin: 0;
    margin-top: 1.68rem;
    margin-left: 1.26rem;
    font-size: 1.125rem;
    font-weight: 700;
}

.wrap_list {
    background-color: aquamarine;
    overflow: auto;
    height: 27rem;
    white-space: nowrap;
}

.wrap_list::-webkit-scrollbar {
    width: 6px;
}

.wrap_list::-webkit-scrollbar-thumb {
    background: #757575;
    border-radius: 10px;
}

.entity {
    /* background-color: blueviolet; */
    height: 3.48rem;
    border-bottom: solid 0.0625rem #DDD;
    display: flex;
}

.entity p {
    display: inline-block;
    margin: 0;
    letter-spacing: -0.05rem;
}

.profile_img {
    height: 2.3125rem;
    margin-top: 0.58rem;
    margin-left: 1.86rem;
}

.profile_img img {
    width: 2.3125rem;
    height: 2.3125rem;
    border: 0.5px solid #A1A1A1;
}

.infor {
    margin-top: 0.58rem;
    margin-left: 0.3rem;
    display: flex;
    flex-direction: column;
}

.other_nick {
    font-size: 0.9375rem;
    font-weight: 700;
    padding-bottom: 0.17rem;
}

.post {
    color: #929292;
    font-size: 0.625rem;
    font-weight: 700;
}

.func {
    display: flex;
    flex-direction: column;
    margin-top: 0.57rem;
    margin-left: 1.91rem;
}

.func a {
    color: #929292;
    font-size: 0.625rem;
    font-weight: 700;
    text-decoration-line: underline;
    text-underline-position: under;
    letter-spacing: -0.05rem;
}

.elim_btn {
    padding-bottom: 0.2rem;
}


/* 채팅창 */

.chat {
    background-color: #929292;
    width: 37.96288rem;
    height: 31.67675rem;
    margin-top: 1.29rem;
    margin-left: 1.93rem;
}

.wrap_post_infor {
    background-color: white;
    height: 4.67406rem;
    border-radius: 1.875rem;
    display: flex;
}

.post_infor {
    display: flex;
    width: 100%;
}

.post_infor p {
    display: inline-block;
    margin: 0;
}

.post_name {
    font-size: 0.9375rem;
    font-weight: 700;
    padding-top: 1.76rem;
    padding-left: 1.85rem;
}

.point {
    display: flex;
    margin-left: 1.21rem;
    gap: 0.88rem;
}

.point img {
    margin-top: 1.35rem;
    width: 1.91769rem;
    width: 1.91769rem;
    height: 1.91769rem;
}

.point p {
    font-size: 0.9375rem;
    margin-top: 1.6rem;
}

.view_btn {
    float: right;
    width: 5.85938rem;
    height: 2.22344rem;
    border-radius: 1.875rem;
    background-color: white;
    border: 1px solid black;
    margin-top: 1.23rem;
    margin-right: 1.55rem;
    font-size: 0.6875rem;
    font-weight: 700;
}

.view_btn:hover {
    cursor: pointer;
}

.user_infor {
    background-color: grey;
    height: 4.67406rem;
    margin-top: 1.26rem;
    display: flex;
    justify-content: space-between;
}

.user_infor p {
    display: inline-block;
    margin: 0;
}

.other_infor {
    background-color: rgba(225, 225, 225, 0.50);
    border-radius: 1.875rem;
    width: 18.58124rem;
    height: 100%;
}

.wrap_nickName {
    margin-left: 1.44rem;
    padding-top: 0.7rem;
    font-size: 1.125rem;
    font-weight: 700;
}

.my_infor {
    background-color: rgba(225, 225, 225, 0.50);
    border-radius: 1.875rem;
    width: 18.58124rem;
    height: 100%;
}

.wrap_adop {
    justify-content: center;
    color: #6D6D6D;
    font-size: 0.9375rem;
    display: flex;
    gap: 0.3rem;
}

.chat_area {
    background-color: #3A7DFF;
    height: 12.92rem;
    margin-top: 1.26rem;
}

.input_area {
    background-color: white;
    height: 5.63381rem;
    border-radius: 0.625rem;
    margin-top: 1.25rem;
    overflow: hidden;
}

.input_chat {}

.text_content {
    overflow: scroll;
    margin-top: 0.82rem;
    margin-left: 0.72rem;
    width: 36.4rem;
    height: 2rem;
    font-size: 0.9375rem;
}

.chat_func {
    background-color: #A1A1A1;
    margin-top: 0.3rem;
    display: flex;
}

.wrap_send {
    margin-left: 1.12rem;
    gap: 0.61rem;
    display: flex;
}

.wrap_send img {
    margin-top: 0.8rem;
    width: 1.25rem;
    height: 1.25rem;
}

.wrap_number {
    margin-left: 26.16rem;
}

.char_num {
    color: #6D6D6D;
    font-size: 0.625rem;
    font-weight: 700;
    display: inline-block;
    margin: 0;
    margin-top: 0.65rem;
}

.wrap_send_btn {
    width: 100%;
}

.send_btn {
    background-color: #3A7DFF;
    float: right;
    margin-right: 0.56rem;
    width: 4.14056rem;
    height: 2.0880rem;
    border-radius: 0.625rem;
    font-size: 0.75rem;
    color: #FFF;
    font-weight: 700;
    border: none;
}