body {
  margin-top: 4.56rem;
  min-width: 85rem;
}

/* switch */

.find_container {
  width: 18.75rem;
  height: 3.75rem;
  border-radius: 3rem;
  border: 1px solid #000;
  position: relative;
  display: flex;
}

.find_container input {
  visibility: hidden;
  position: absolute;
  top: 0;
}

.find_container label {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 50%;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 첫 번째 입력이 선택되었을 때 첫 번째 라벨을 스타일링합니다. */
.find_container input:nth-of-type(1):checked ~ .switch-wrapper {
  transform: translateX(0%);
}

/* 두 번째 입력이 선택되었을 때 두 번째 라벨을 스타일링합니다. */
.find_container input:nth-of-type(2):checked ~ .switch-wrapper {
  transform: translateX(100%);
}

/* 해당 입력이 선택되었을 때 스위치 내용의 텍스트를 스타일링합니다. */
.find_container
  input:nth-of-type(1):checked
  ~ .switch-wrapper
  .switch
  div:nth-of-type(1) {
  opacity: 1;
}

.find_container
  input:nth-of-type(2):checked
  ~ .switch-wrapper
  .switch
  div:nth-of-type(2) {
  opacity: 1;
}

/* 스위치 래퍼를 위한 스타일을 추가합니다. */
.switch-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: 3;
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.switch {
  border-radius: 3rem;
  background: #3a7dff;
  height: 100%;
  display: flex;
}

.switch div {
  width: 9.375rem;
  opacity: 0;
  display: block;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s;
  margin-top: 1.16rem;
}

/* Find ID page styles */

.findID_header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#findID_arrow {
  width: 2.1875rem;
  height: 1.36719rem;
  flex-shrink: 0;
}

.findID_header p {
  color: #434343;
  text-align: center;
  font-family: Inter;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.bottom_findID_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom_findID_header img {
  width: 12.5rem;
  height: 12.5rem;
  margin: 20px;
}

.wrap_findID_content {
  margin-top: 1.12rem;
}

.findID_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner_findID_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name_content p,
.birth_content p {
  color: #474747;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 0.94rem;
  margin-bottom: 0.44rem;
}

#findID_name_input,
#findID_birth_input {
  width: 25rem;
  height: 3.125rem;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  border: 1px solid #9b9b9b;
  padding-left: 30px;
}

#findID_name_input::placeholder,
#findID_birth_input::placeholder {
  color: #acacac;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.findID_error {
  display: flex;
  margin-left: 0.94rem;
}
#findID_error {
  color: #f00;
  text-align: right;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  visibility: hidden;
}

.findID_button {
  display: flex;
  justify-content: center;
}

#findID_button {
  width: 24.9375rem;
  height: 4.0625rem;
  flex-shrink: 0;
  border-radius: 3rem;
  border: none;
  background: #3a7dff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

/* Find Password page styles */

.findPW_header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#findPW_arrow {
  width: 2.1875rem;
  height: 1.36719rem;
  flex-shrink: 0;
}

.findPW_header p {
  color: #434343;
  text-align: center;
  font-family: Inter;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.bottom_findPW_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom_findPW_header img {
  width: 12.5rem;
  height: 12.5rem;
  flex-shrink: 0;
}

.wrap_findPW_content {
  margin-top: 1.12rem;
}

.findPW_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.inner_findPW_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#certified_button {
  position: absolute;
  width: 6.44956rem;
  height: 3.0625rem;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  border: none;
  background: rgba(255, 0, 0, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 1.36rem;
  cursor: pointer;
}

.id_content p,
.certifiednum_content p {
  color: #474747;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 0.94rem;
  margin-bottom: 0.44rem;
}

#findPW_id_input,
#findPW_certifiednum_input {
  width: 25rem;
  height: 3.125rem;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  border: 1px solid #9b9b9b;
  padding-left: 30px;
}

#findPW_id_input::placeholder,
#findPW_certifiednum_input::placeholder {
  color: #acacac;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.findPW_error {
  display: flex;
  margin-left: 0.94rem;
}

#findPW_error {
  color: #f00;
  text-align: right;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  visibility: hidden;
}

.findPW_button {
  display: flex;
  justify-content: space-between;
}

#findPW_button {
  width: 26.81025rem;
  height: 4.0625rem;
  flex-shrink: 0;
  border-radius: 3rem;
  border: none;
  background: #3a7dff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
