body {
    margin-top: 5.5rem;
    margin-left: 9.94rem;
    margin-right: 10.69rem;
    margin-bottom: 7.31rem;
    width: 75rem;
}

.nav_bar {
    display: flex;
    justify-content: flex-end;
}

.nav_logout {
    display: flex;
    align-items: center;
}

.nav_logout img {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.nav_logout a {
    color: #000;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 1.37rem;
    text-decoration: none;
}

.nav_mypage {
    display: flex;
    align-items: center;
}

.nav_mypage img {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.nav_mypage a {
    color: #000;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.home_header {
    display: flex;
    align-items: flex-end;
    margin-top: 6.13rem;
    width: 75rem;
}

.home_header a {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    text-decoration: none;
}

.home_header img {
    width: 10rem;
    height: 10rem;
    flex-shrink: 0;
}

.bottom_home_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75rem;
}

.left_header p {
    color: #757575;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.right_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.region_name {
    display: flex;
    align-items: center;
}

.region_name img {
    width: 1.0625rem;
    height: 1.5625rem;
    flex-shrink: 0;
    margin-right: 0.5rem;
}

.region_choose {
    color: #757575;
    text-align: right;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    cursor: pointer;
}

.dropdown {
    border: 1px solid #ccc;
    background-color: white;
    position: absolute;
    max-height: 200px;
    overflow-y: auto;
    top: 12px;
    left: 15px;
    padding: 0px 15px;
}

.dropdown-option {
    padding: 5px;
    cursor: pointer;
    list-style: none;
}

#chat_button {
    width: 9.4375rem;
    height: 2.8125rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    border: none;
    background: #67b15b;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0.72rem;
    cursor: pointer;
}

.wrap_home_content {
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
}

#left_rectangle_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 27.6875rem;
    height: 22.1875rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #578bf0;
    text-decoration: none;
}

#left_rectangle_2 img {
    width: 9.375rem;
    height: 7.61719rem;
    flex-shrink: 0;
}

#left_rectangle_2 p {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

#right_rectangle_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 27.6875rem;
    height: 22.1875rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #f48d8d;
    text-decoration: none;
}

#right_rectangle_2 img {
    width: 9.375rem;
    height: 9.075rem;
    flex-shrink: 0;
}

#right_rectangle_2 p {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}