body {
  margin-top: 6.63rem;
  margin-bottom: 9.25rem;
}

.login_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_header img {
  width: 12.5rem;
  height: 12.5rem;
  flex-shrink: 0;
}

.login_header p {
  color: #434343;
  text-align: right;
  font-family: Inter;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  margin-top: 1.19rem;
}

#bottom_header img {
  margin-left: 17.88rem;
}

.wrap_login_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.login_content {
  display: flex;
  flex-direction: column;
}

.id_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pw_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.id_content p,
.pw_content p {
  color: #474747;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0.31rem;
  margin-left: 0.94rem;
}

#id_input,
#pw_input {
  width: 25rem;
  height: 3.125rem;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  border: 1px solid #9b9b9b;
  padding-left: 30px;
}

#id_input::placeholder,
#pw_input::placeholder {
  color: #acacac;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.login_error {
  display: flex;
  align-items: flex-start;
  margin-left: 0.44rem;
}

.login_error p {
  color: #e80000;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.wrap_login_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

#email_login_button {
  width: 27rem;
  height: 3.4375rem;
  flex-shrink: 0;
  border-radius: 3rem;
  border: none;
  background: #3a7dff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.81rem;
}

#email_login_button a {
  color: #fff;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

#google_login_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 27rem;
  height: 3.4375rem;
  flex-shrink: 0;
  border-radius: 3rem;
  border: 1px solid #4b4b4b;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
}

#google_login_button div {
  display: flex;
  align-items: center;
}

#google_login_button div a {
  color: #000;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  margin-left: 2.19rem;
}

#google_login_button div img {
  margin-left: 2.88rem;
}

.login_footer {
  display: flex;
  justify-content: center;
}

.login_footer a {
  color: #929292;
  text-align: right;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
