html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* letter-spacing: -0.1rem; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav_bar {
  display: flex;
  justify-content: center;
  min-width: 100rem;
}

.back_btn {
  display: flex;
  margin-left: 6.94rem;
  margin-top: 6.5rem;
  margin-right: 4rem;
}

.logo_btn img {
  width: 9.375rem;
  height: 9.375rem;
  margin-top: 2.56rem;
}

.nav_menu {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1.7rem;
}

.nav_menu ul {
  display: flex;
  flex-direction: row;
  margin-top: 6.5rem;
}

.help_req_a {
  color: #3a7dff;
  text-align: center;
  font-family: Inter;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 3.56rem;
}

.help_sol_a {
  color: #939393;
  text-align: center;
  font-family: Inter;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav_chat {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.94rem;
}

.chat_btn {
  width: 9.4375rem;
  height: 2.8125rem;
  border: 2px solid #727272;
  border-radius: 1.25rem;
  background-color: #727272;
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
  margin-left: 5.63rem;
  margin-top: 6.94rem;
}

.chat_btn:hover {
  cursor: pointer;
}

.nav_logout {
  display: flex;
  align-items: center;
  margin-left: 1.94rem;
  margin-right: 1.37rem;
  margin-top: 7.62rem;
}

.nav_logout a {
  width: 4.1875rem;
  height: 1.375rem;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav_logout img {
  width: 1.5rem;
  height: 1.5rem;
}

.nav_logout img:hover {
  cursor: pointer;
}

.nav_mypage {
  display: flex;
  align-items: center;
  margin-top: 7.62rem;
  margin-right: 6.81rem;
}

.nav_mypage img {
  width: 1.5rem;
  height: 1.5rem;
}

.nav_mypage img:hover {
  cursor: pointer;
}

.nav_mypage a {
  width: 4.75rem;
  height: 1.375rem;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

hr {
  margin: 0 6.94rem;
  min-width: 85rem;
}

.wrap_request {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100rem;
}

.request_header {
  position: absolute;
  left: 27rem;
  display: flex;
  margin-top: 1.25rem;
  margin-bottom: 0;
}

#request_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15.625rem;
  height: 3.125rem;
  flex-shrink: 0;
  border-radius: 1.25rem 1.25rem 0rem 0rem;
  background: #3a7dff;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* margin-left: 12.44rem; */
  margin-right: 1.06rem;
}

.region_name {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.region_name img {
  width: 1.25rem;
  height: 1.75925rem;
  flex-shrink: 0;
  margin-right: 0.25rem;
}
.region_name a {
  color: #757575;
  text-align: right;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

.request_header p {
  color: #ff7a7a;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 1.06rem;
  /* margin-right: 31.69rem; */
}
